/* STYLE.CSS */
* {
    font-family: Lato;
    border: 1px solid red;
}

/* SECTIONS */

body {
    background-color: #122434;
}

header {
    margin-bottom: 2em;
}

.content {
    text-align: center;
    margin: 0 auto 0 auto;
    width: 900px;
    max-width: 100%;
}

.movie {
    width: 250px;
    max-width: 20%;
    margin: 0 20px;
    display: inline-block;
}

/* END OF SECTIONS */

h1 {
    font-weight: 600;
    color: white;
}

.test {
    background-color: green;
    height: 300px;
    max-height: 150px;
    max-width: 200px;
}

input, button {
    border: none;
    outline: none;
    background: none;    
}

input {
    position: relative;
    max-width: 400px;
    width: calc(100% - 2em)
    font-size: 16px;
    border-bottom: 3px solid #353535;
    text-align: center;
}

button {
    width: 60%;
    position: relative;
    top: 50%;
    left: 20%;
}

label {
    display: block;
    font-size: 16px;
    font-weight: 800;
}
.movie {
}

.movie-search {
    width: 100%;
}

.movies {
    margin-bottom: 2em;
}

.submit-button {
    margin: auto;
    padding: 10px;
    background-color: #da7071;
}



