/* STYLE.CSS */
* {
    font-family: Lato;
    border: 0px solid red;
    box-sizing: border-box;
}

body {
    background-color: #122434;
    color: #dadada;
}

header {
    margin-bottom: 2em;
}

h1 {
    font-weight: 600;
    color: white;
    font-size: 36px;
    margin: 60px;
}

input, button {
    border: none;
    outline: none;
    background: none;    
}

input {
    position: relative;
    max-width: 400px;
    width: calc(100% - 2em);
    font-size: 16px;    
    text-align: center;
    font-weight: 700;
    margin-bottom: 2px;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.movie {
    margin-bottom: 40px !important;
}

.movie-search {
    width: 90%;
    position: relative;
    margin: 0 auto 20px auto;
}

.submit-button {
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    background-color: #da7071;    
    width: 50% !important;
}

.submit-button:hover {
    background-color: #ff4446;
}

label {
    display: block;
    font-size: 16px;
    font-weight: 800;
    text-align: left;
    border-top: 3px solid #da7071;
    width: 90%;
    margin: 0 auto 0 auto;
    color: #da7071;
    padding-top: 5px;
}

.movie-search:hover label{
    border-top: 5px solid #da7071;
    color: #da7071;
}

.content {
    text-align: center;
    margin: 0 auto 0 auto;
    width: 900px;
    max-width: 100%;
}

.movie-poster {
    width: 250px;
    height: 370px;
    background-color: #0b0b17;
    background-size: cover;
    position: relative;
    margin: 0 auto 0 auto;
}

.movie-rating {
    border-radius: 15px;
    color: #000;
    background-color: #ffdb65;
    position: absolute;
    right: -15px;
    top: -15px;
    font-size: 20px;
    padding: 8px;
}

.movie-year {
    color: #000;
    background-color: #0b0b17;
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 20px;
    padding: 5px;
    color: #fff;
}

.count {
    margin-top: 20px;
    position: relative;
    top: -15px;
    font-size: 36px;
}

.test {    
    background-image: url("http://img.omdbapi.com/?i=tt0453562&apikey=db496034");
}

.movie-name {
    background-color: #0b0b17;
    margin-top: 0px;
    width: 250px;
    height: auto;
    padding: 10px 5px;    
    margin: 0 auto 20px auto;
    font-size: 16px;
    font-weight: 600;
}

.press button {
  color: #fff;
  background-color: #da7071;
  border: none;
  -webkit-box-shadow: 0 10px #190505;
  -moz-box-shadow: 0 10px #190505;
  box-shadow: 0 10px #190505;
  width: 100px;
}
.press button:hover,
.press button.hover {
  background-color: #ff4446;
}
.press button:active,
.press button.active {
  background-color: #ff4446;
  -webkit-box-shadow: 0 5px #190505;
  -moz-box-shadow: 0 5px #190505;
  box-shadow: 0 5px #190505;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
}
@media all and (max-width: 960px) { 
  button {
    font-size: 30px
  }
}
@media all and (max-width: 720px) { 
  button {
    font-size: 20px;
    padding: 10px 30px;
  }
}
@media all and (max-width: 540px) { 
  section {
    text-align: center
  }
  button {
    margin: 0 10px 20px 10px;
    font-size: 16px;
  }
}

/* GRID START */
/* SECTIONS */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/* END OF SECTIONS */
/* GRID END */